[submodule "src/ICPCUDA"]
	path = src/ICPCUDA
	url = https://github.com/mp3guy/ICPCUDA
[submodule "src/kinect_utilities"]
	path = src/kinect_utilities
	url = https://github.com/letrend/kinect_utilities
